.main-div{
    display: flex;
    justify-content: space-between;


    .profile-message{
       display: flex;
       flex-direction: column;
    }
    .addpost-feed{
        display: flex;
        flex-direction: column;
    }
    .friend-list{
        display: flex;
        flex-direction: column;
    }
}